continue=true
dir={{ host.aria2.dir }}
enable-rpc=true
file-allocation=falloc
force-save=true
input-file={{ host.aria2.dir }}/aria2.session
max-concurrent-downloads=10
max-connection-per-server=4
rpc-listen-all=true
save-session={{ host.aria2.dir }}/aria2.session
save-session-interval=10
