[Unit]
Description=Influxdb backup

[Service]
Type=oneshot

ExecStart=/bin/bash -c '/usr/bin/influx backup \
  --bucket hass \
  --token {{ host.influxdb.token }} \
  /media/backup1/core/influxdb/$(date -u +%%Y-%%m-%%dT%%H-%%M-%%SZ)'

[Install]
WantedBy=multi-user.target
