# https://www.samba.org/samba/docs/current/man-html/smb.conf.5.html
[global]
   workgroup = WORKGROUP
   server string = Samba
   map to guest = Bad User
   server role = standalone
   hosts allow = 192.168.1. 127.
   guest account = {{ host.user.wheel.name }}
   guest ok = yes
   guest only = yes
   printcap name = /dev/null
   disable spoolss = yes
   show add printer wizard = no
   printable = no
   load printers = no
   log file = /var/log/samba/%m.log
   logging = systemd

[files]
   comment = Wd
   path = /wd/files
   writable = yes

[media]
   comment = Wd2
   path = /wd2/media
   read only = yes
