---
version: '3.8'

services:
  db:
    image: mysql/mysql-server:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: {{ host.mysql.password }}
    ports:
      - 3306:3306
    logging:
      driver: journald
    volumes:
      - /var/lib/mysql:/var/lib/mysql
      - /var/lib/mysql-files:/var/lib/mysql-files
