---
- name: Install packages
  pacman:
    name:
      - alsa-utils
    update_cache: true

- name: Copy alsa settings
  copy:
    src: '{{ ansible_limit }}/'
    dest: /var/lib/alsa/
    mode: '0644'

- name: Add modprobe changes
  template:
    src: modprobe.conf.j2
    dest: /etc/modprobe.d/alsa.conf
    mode: '0644'
  when: host.alsa.modprobe is defined
