services:
  fava:
    container_name: fava
    environment:
      - BEANCOUNT_FILE=/bean/main.beancount
    image: yegle/fava
    ports:
      - 5000:5000
    restart: unless-stopped
    volumes:
      - /var/lib/beancount:/bean
