[Trigger]
Operation = Upgrade
Type = Package
Target = xmonad*
Target = haskell*

[Action]
Description = Recompiling xmonad...
When = PostTransaction
Exec = /usr/bin/sudo -u {{ host.user.wheel.name }} /usr/bin/xmonad --recompile
